{% extends "base.html" %} {% block title %} Manage ChatBot{% endblock %}
{% block body %}
<div class="container-fluid px-0">
    <div class="card p-4">
        <div class="row align-items-center g-3 px-3">
            <!-- Dropdown (Left Side) -->
            <div class="col-12 col-md-6">
                <label for="project" class="form-label">Select Project</label>
                <select class="form-select" id="project">
                    <option selected disabled>Select Project</option>
                </select>
            </div>

            <!-- Button (Right Side) -->
            <div class="col-12 col-md-6">
                <button class="btn btn-primary mt-4" onclick="viewDetails()">View Details</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#page-title").text("Manage ChatBot");
</script>

{% endblock %}